<header>
    <div>
        <a href="/views/Gestion/gestionPersonnel.html">
            <img class="logo" src="/public/assets/img/logo.png" alt="Pyromaniac">
        </a>
    </div>
    <div>
        <a href="/views/Gestion/gestionPersonnel.html">
            <h1 id="title">Gestion</h1>
        </a>
    </div>
    <div></div>
</header>
<main>
    <div class="nav">
        <div>
            <a href="/views/Gestion/gestionPersonnel.html">
                <h3 id="titlenav">Personnel</h3>
            </a>
        </div>
        <div>
            <a href="/views/Gestion/gestionEquipe.html">
                <h3 id="titlenav">Equipe</h3>
            </a>
        </div>
        <div>
            <a href="/views/Gestion/gestionCaserne.html">
                <h3 id="titlenav">Caserne</h3>
            </a>
        </div>
        <div>
            <a href="/views/Gestion/gestionEquipement.html">
                <h3 id="titlenav">Equipement</h3>
            </a>
        </div>
    </div>
</main>