<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyromaniac</title>
    <link rel="icon" type="image/png" href="/public/assets/img/logo.png" />
    <link rel="stylesheet" href="/public/assets/css/maps.css"/>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>  
    <script type="module" src="/public/assets/js/maps.js" defer></script>  
</head>
<body>
    <div id="header"></div>
    <main>
        <h2>A propos</h2>
        <div class="parag">
            <p>
                L’objectif de ce projet est de réaliser d’une part un simulateur d’incendies permettant la
                création, le suivi et la propagation de feux de différents types (localisés sur une carte), et
                d’autre part de créer un dispositif de gestion de services d’urgences permettant, à partir
                d’informations collectées par des capteurs, de déployer et gérer les dispositifs adaptés
                pour éteindre les incendies.
            </p>
            <br>
            <p>
                Le simulateur d’incendies permettra de créer des feux de différentes natures (feux de
                forêt, feux de bâtiments, feux de véhicules, etc.) sur une carte. Ces feux pourront se
                propager en fonction de la nature du terrain, de la météo etc. Les feux pourront être éteints par des pompiers et différents équipements.
            </p>
            <br>
            <p>Ce site est fait pour la visualisation.</p>
        </div>
    </main>
    <div id="footer"></div>
</body>