<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyromaniac</title>
    <link rel="icon" type="image/png" href="/public/assets/img/logo.png" />
    <link rel="stylesheet" href="/public/assets/css/gestion.css"/>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>  
    <script type="module" src="/public/assets/js/main.js" defer></script>  
</head>
    <div id="header"></div>
    <body>
        <main id="box">
        <main>
            <h2>Identification</h2>
            <form id="login">
                <input type="text" name="username" placeholder="Username" required />
                <input type="password" name="password" placeholder="Mot de passe" required />
                <input type="submit" />
            </form>
        </main>
        <div id="footer"></div>
    </body>
</html>
</html>